<!DOCTYPE html>
<html>
  <head>
    <title>LeWagonCareerWeekChallengeGit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h1>This is a radio station </h1>
	<div class="container-radio">
		<div class="stations-title">
      <h2>STATIONS</h2>
      <div class="container-info">
        <h3 id = "stations-name"></h3>
        <h3 id = "stations-frequency"></h3>
      </div>
    </div>
</div>
<script>
const stations = document.querySelectorAll('.container-info');
// const stationName = document.querySelector('#stations-name');
// const stationFrequency = document.querySelector('#stations-frequency');
const url = 'https://teclead.de/recruiting/radios';
  fetch(url)
    .then(response => response.json())
    .then((data) => {
      stations.forEach(station => {
      // console.log(data.radios[0].name);
      station.innerHTML = data.radios[0].name;
      // station.innerHTML = data.radios[0].frequency;
      // station.innerHTML = data.radios.frequency;
      })
});
</script>
  </body>
</html>
